################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ColleMan/copper-depot-424816-q0-009b2888c37a.json
/ColleMan/appsettings.json
